<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.boot.security.server.dao.AiExecProductDao">

	<sql id="where">
		<where>
			<if test="params.id != null and params.id != ''">
				and id = #{params.id} 
			</if>
			<if test="params.productcode != null and params.productcode != ''">
				and productcode = #{params.productcode} 
			</if>
			<if test="params.aicode != null and params.aicode != ''">
				and aicode = #{params.aicode} 
			</if>
			<if test="params.productname != null and params.productname != ''">
				and productname = #{params.productname} 
			</if>
			<if test="params.productdesc != null and params.productdesc != ''">
				and productdesc = #{params.productdesc} 
			</if>
			<if test="params.producttypeid != null and params.producttypeid != ''">
				and producttypeid = #{params.producttypeid} 
			</if>
			<if test="params.productoriprice != null and params.productoriprice != ''">
				and productoriprice = #{params.productoriprice} 
			</if>
			<if test="params.productstatus != null and params.productstatus != ''">
				and productstatus = #{params.productstatus} 
			</if>
			<if test="params.productpicpath != null and params.productpicpath != ''">
				and productpicpath = #{params.productpicpath} 
			</if>
			<if test="params.producturl != null and params.producturl != ''">
				and producturl = #{params.producturl} 
			</if>
			<if test="params.creator != null and params.creator != ''">
				and creator = #{params.creator} 
			</if>
			<if test="params.createdate != null and params.createdate != ''">
				and createdate = #{params.createdate} 
			</if>
			<if test="params.modifydate != null and params.modifydate != ''">
				and modifydate = #{params.modifydate} 
			</if>
			<if test="params.datastate != null and params.datastate != ''">
				and datastate = #{params.datastate} 
			</if>
			<if test="params.productsource != null and params.productsource != ''">
				and productsource = #{params.productsource} 
			</if>
			<if test="params.ext1 != null and params.ext1 != ''">
				and ext1 = #{params.ext1} 
			</if>
			<if test="params.ext2 != null and params.ext2 != ''">
				and ext2 = #{params.ext2} 
			</if>
			<if test="params.ext3 != null and params.ext3 != ''">
				and ext3 = #{params.ext3} 
			</if>
		
		</where>
	</sql>

	<select id="count" resultType="int">
		select count(1) from ai_exec_product t
		<include refid="where" />
	</select>

	<select id="list" resultType="AiExecProduct">
		select * from ai_exec_product t
		<include refid="where" />
		${params.orderBy}
		limit #{offset}, #{limit}
	</select>

	<update id="update">
		update ai_exec_product t
		<set>
			<if test="productcode != null">
				productcode = #{productcode}, 
			</if>
			<if test="aicode != null">
				aicode = #{aicode}, 
			</if>
			<if test="productname != null">
				productname = #{productname}, 
			</if>
			<if test="productdesc != null">
				productdesc = #{productdesc}, 
			</if>
			<if test="producttypeid != null">
				producttypeid = #{producttypeid}, 
			</if>
			<if test="productoriprice != null">
				productoriprice = #{productoriprice}, 
			</if>
			<if test="productstatus != null">
				productstatus = #{productstatus}, 
			</if>
			<if test="productpicpath != null">
				productpicpath = #{productpicpath}, 
			</if>
			<if test="producturl != null">
				producturl = #{producturl}, 
			</if>
			<if test="creator != null">
				creator = #{creator}, 
			</if>
			<if test="createdate != null">
				createdate = #{createdate}, 
			</if>
			<if test="modifydate != null">
				modifydate = #{modifydate}, 
			</if>
			<if test="datastate != null">
				datastate = #{datastate}, 
			</if>
			<if test="productsource != null">
				productsource = #{productsource}, 
			</if>
			<if test="ext1 != null">
				ext1 = #{ext1}, 
			</if>
			<if test="ext2 != null">
				ext2 = #{ext2}, 
			</if>
			<if test="ext3 != null">
				ext3 = #{ext3}, 
			</if>

		</set>

		where t.id = #{id}
	</update>

</mapper>
