<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.boot.security.server.dao.AiOrderFirstLevelDao">

    <sql id="where">
        <where>
            <if test="params.id != null and params.id != ''">
                and id = #{params.id}
            </if>
            <if test="params.serialnumber != null and params.serialnumber != ''">
                and serialnumber = #{params.serialnumber}
            </if>
            <if test="params.consumerid != null and params.consumerid != ''">
                and consumerid = #{params.consumerid}
            </if>
            <if test="params.createtime != null and params.createtime != ''">
                and createtime = #{params.createtime}
            </if>
            <if test="params.telephone != null and params.telephone != ''">
                and telephone = #{params.telephone}
            </if>
            <if test="params.boxcode != null and params.boxcode != ''">
                and boxcode = #{params.boxcode}
            </if>
            <if test="boxperson != null and boxperson != ''">
                and boxcode in (select boxcode from ai_mkt_box where boxperson = #{boxperson})
            </if>
            <if test="params.paytime != null and params.paytime != ''">
                and paytime = #{params.paytime}
            </if>
            <if test="params.sendtime != null and params.sendtime != ''">
                and sendtime = #{params.sendtime}
            </if>
            <if test="params.replytime != null and params.replytime != ''">
                and replytime = #{params.replytime}
            </if>
            <if test="params.orderpreprice != null and params.orderpreprice != ''">
                and orderpreprice = #{params.orderpreprice}
            </if>
            <if test="params.orderrealprice != null and params.orderrealprice != ''">
                and orderrealprice = #{params.orderrealprice}
            </if>
            <if test="params.orderno != null and params.orderno != ''">
                and orderno = #{params.orderno}
            </if>
            <if test="params.paystatus != null and params.paystatus != ''">
                and paystatus = #{params.paystatus}
            </if>
            <if test="params.failreason != null and params.failreason != ''">
                and failreason = #{params.failreason}
            </if>
            <if test="params.paytype != null and params.paytype != ''">
                and paytype = #{params.paytype}
            </if>
            <if test="params.payurl != null and params.payurl != ''">
                and payurl = #{params.payurl}
            </if>
            <if test="params.ordercomment != null and params.ordercomment != ''">
                and ordercomment = #{params.ordercomment}
            </if>
            <if test="params.datastate != null and params.datastate != ''">
                and datastate = #{params.datastate}
            </if>


        </where>
    </sql>

    <select id="count" resultType="int">
        select count(1) from ai_order_first_level t
        <include refid="where"/>
    </select>

    <select id="list" resultType="com.boot.security.server.dto.AiOrderFirstLevelDto">
        select f.*,d1.val payStatusVal,d2.val payTypeVal,d3.val dataStateVal
        from ai_order_first_level f,t_dict d1,t_dict d2,t_dict d3
        where d1.type = 'aiOrderPayStatus' and f.paystatus = d1.k
        and d2.type = 'aiOrderPayType' and f.paytype = d2.k
        and d3.type = 'dataState' and f.datastate = d3.k
        <if test="params.id != null and params.id != ''">
            and f.id = #{params.id}
        </if>
        <if test="params.serialnumber != null and params.serialnumber != ''">
            and f.serialnumber = #{params.serialnumber}
        </if>
        <if test="params.consumerid != null and params.consumerid != ''">
            and f.consumerid = #{params.consumerid}
        </if>
        <if test="params.createtime != null and params.createtime != ''">
            and f.createtime = #{params.createtime}
        </if>
        <if test="params.telephone != null and params.telephone != ''">
            and f.telephone = #{params.telephone}
        </if>
        <if test="params.boxcode != null and params.boxcode != ''">
            and f.boxcode = #{params.boxcode}
        </if>
        <if test="boxperson != null and boxperson != ''">
            and f.boxcode in (select boxcode from ai_mkt_box where boxperson = #{boxperson})
        </if>
        <if test="params.paytime != null and params.paytime != ''">
            and f.paytime = #{params.paytime}
        </if>
        <if test="params.sendtime != null and params.sendtime != ''">
            and f.sendtime = #{params.sendtime}
        </if>
        <if test="params.replytime != null and params.replytime != ''">
            and f.replytime = #{params.replytime}
        </if>
        <if test="params.orderpreprice != null and params.orderpreprice != ''">
            and f.orderpreprice = #{params.orderpreprice}
        </if>
        <if test="params.orderrealprice != null and params.orderrealprice != ''">
            and f.orderrealprice = #{params.orderrealprice}
        </if>
        <if test="params.orderno != null and params.orderno != ''">
            and f.orderno = #{params.orderno}
        </if>
        <if test="params.paystatus != null and params.paystatus != ''">
            and f.paystatus = #{params.paystatus}
        </if>
        <if test="params.failreason != null and params.failreason != ''">
            and f.failreason = #{params.failreason}
        </if>
        <if test="params.paytype != null and params.paytype != ''">
            and f.paytype = #{params.paytype}
        </if>
        <if test="params.payurl != null and params.payurl != ''">
            and f.payurl = #{params.payurl}
        </if>
        <if test="params.ordercomment != null and params.ordercomment != ''">
            and f.ordercomment = #{params.ordercomment}
        </if>
        <if test="params.datastate != null and params.datastate != ''">
            and f.datastate = #{params.datastate}
        </if>
        ${params.orderBy}
        limit #{offset}, #{limit}
    </select>

    <update id="update">
        update ai_order_first_level t
        <set>
            <if test="serialnumber != null">
                serialnumber = #{serialnumber},
            </if>
            <if test="consumerid != null">
                consumerid = #{consumerid},
            </if>
            <if test="createtime != null">
                createtime = #{createtime},
            </if>
            <if test="telephone != null">
                telephone = #{telephone},
            </if>
            <if test="boxcode != null">
                boxcode = #{boxcode},
            </if>
            <if test="paytime != null">
                paytime = #{paytime},
            </if>
            <if test="sendtime != null">
                sendtime = #{sendtime},
            </if>
            <if test="replytime != null">
                replytime = #{replytime},
            </if>
            <if test="orderpreprice != null">
                orderpreprice = #{orderpreprice},
            </if>
            <if test="orderrealprice != null">
                orderrealprice = #{orderrealprice},
            </if>
            <if test="orderno != null">
                orderno = #{orderno},
            </if>
            <if test="paystatus != null">
                paystatus = #{paystatus},
            </if>
            <if test="failreason != null">
                failreason = #{failreason},
            </if>
            <if test="paytype != null">
                paytype = #{paytype},
            </if>
            <if test="payurl != null">
                payurl = #{payurl},
            </if>
            <if test="ordercomment != null">
                ordercomment = #{ordercomment},
            </if>
            <if test="datastate != null">
                datastate = #{datastate},
            </if>
            <if test="ext1 != null">
                ext1 = #{ext1},
            </if>
            <if test="ext2 != null">
                ext2 = #{ext2},
            </if>
            <if test="ext3 != null">
                ext3 = #{ext3},
            </if>

        </set>

        where t.id = #{id}
    </update>

    <resultMap id="monthSum" type="com.boot.security.server.result.MonthSum">
        <result column="sum(orderrealprice)" property="sumPrice" />
        <result column="months" property="months"/>
        <result column="count" property="count"/>
    </resultMap>


    <select id="getMounthTurnover" resultMap="monthSum">
		select sum(orderrealprice),DATE_FORMAT(createtime,'%Y%m') months,count(*) count
        from ai_order_first_level
        group by months
        having months between #{beginDay} and #{endDay};
	</select>


    <select id="getMounthTurnoverWithBoxCode" resultMap="monthSum">
        select sum(orderrealprice),DATE_FORMAT(createtime,'%Y%m') months,count(*) count
        from ai_order_first_level
        where boxcode in
        <foreach collection="boxCodeList" item="id" index="index" open="(" close=")" separator=",">
            #{id}
        </foreach>
        group by months
        having months between #{beginDay} and #{endDay};
    </select>

</mapper>
