<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.boot.security.server.dao.AiWarehouseDao">

	<sql id="where">
		<where>
			<if test="params.id != null and params.id != ''">
				and id = #{params.id} 
			</if>
			<if test="params.name != null and params.name != ''">
				and name = #{params.name} 
			</if>
			<if test="params.address != null and params.address != ''">
				and address = #{params.address} 
			</if>
			<if test="params.longitude != null and params.longitude != ''">
				and longitude = #{params.longitude} 
			</if>
			<if test="params.latitude != null and params.latitude != ''">
				and latitude = #{params.latitude} 
			</if>
			<if test="params.type != null and params.type != ''">
				and type = #{params.type} 
			</if>
			<if test="params.operatorid != null and params.operatorid != ''">
				and operatorid = #{params.operatorid} 
			</if>
			<if test="params.warehousestate != null and params.warehousestate != ''">
				and warehousestate = #{params.warehousestate} 
			</if>
			<if test="params.ext1 != null and params.ext1 != ''">
				and ext1 = #{params.ext1} 
			</if>
			<if test="params.ext2 != null and params.ext2 != ''">
				and ext2 = #{params.ext2} 
			</if>
			<if test="params.ext3 != null and params.ext3 != ''">
				and ext3 = #{params.ext3} 
			</if>
		
		</where>
	</sql>

	<select id="count" resultType="int">
		select count(1) from ai_warehouse t
		<include refid="where" />
	</select>

	<select id="list" resultType="com.boot.security.server.dto.AiWarehouseDto">
		<!--select * from ai_warehouse t-->
		<!--<include refid="where" />-->
        select t.*, t1.val typeName, t2.val stateName, a.name operatorName
        from ai_warehouse t, t_dict t1, t_dict t2, ai_operator a
        where t1.type="warehouseType"
        and t.type=t1.k
        and t2.type="warehousestate"
        and t2.k=t.warehousestate
        and t.operatorid=a.id
        <if test="params.operatorid != null and params.operatorid != ''">
            and operatorid = #{params.operatorid}
        </if>
		${params.orderBy}
		limit #{offset}, #{limit}
	</select>

	<update id="update">
		update ai_warehouse t
		<set>
			<if test="name != null">
				name = #{name}, 
			</if>
			<if test="address != null">
				address = #{address}, 
			</if>
			<if test="longitude != null">
				longitude = #{longitude}, 
			</if>
			<if test="latitude != null">
				latitude = #{latitude}, 
			</if>
			<if test="type != null">
				type = #{type}, 
			</if>
			<if test="operatorid != null">
				operatorid = #{operatorid},
			</if>
			<if test="warehousestate != null">
				warehousestate = #{warehousestate}, 
			</if>
			<if test="ext1 != null">
				ext1 = #{ext1}, 
			</if>
			<if test="ext2 != null">
				ext2 = #{ext2}, 
			</if>
			<if test="ext3 != null">
				ext3 = #{ext3}, 
			</if>

		</set>

		where t.id = #{id}
	</update>

</mapper>
